doctype html 
html 
   head 
      title Tour Guide | #{tour}
      link(rel="stylesheet" href='assets/css/style.css')
      link(rel="shortcut icon" type="image/png" href='assets/img/favicon.png')   
      
   body
      h1= tour
      h2= user.toUpperCase()
      - const x = 9;
      h3= x*2
      //- h1 The Park Camper 
      p Lorem ipsum dolor sit amet consectetur adipisicing elit. 
      



h1 The park camper